body {
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  color: hsl(213, 96%, 18%);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 9.6%;
}


/* This is the Left Side */

.left {
  width: 20%;
  height: 34.5rem;
  background-image: url(../public/bg-sidebar-desktop.png);
  background-repeat: no-repeat;
  color: white;
  padding-top: 1rem;
}
.left-steps {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 1rem;
}

.number {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0 7px;
  margin: 0 1rem;
  border: 1px solid white;
}
.number-bg {
  background-color: hsl(228, 100%, 84%);
  color: black;
}

.step {
  font-size: 13px;
  color: rgb(158, 158, 158);
}

.left-description {
  font-weight: 500;
}


/* This is the wirght side */
.right {
  width: 25%;
}


.title-div {
  margin-bottom: 2.5rem;
}
.title-Right1-div{
  position: relative;
  bottom: 1.2rem;
}
.title {
  margin: 0 0 0.5rem 0;
  color: hsl(213, 96%, 18%);
}

.instrucions {
  color: rgb(158, 158, 158);
}

.input {
  all: unset;
  height: 3rem;
  width: 97%;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 5px;
  padding-left: 10px;
  margin-top: -10px;
  font-weight: 500;
}

/* Here is all what it rlatedto the next and back buttons */

.btns-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.5rem;
  position: relative;
  top: 2.25rem;
}

.righ1-btns-div {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-top: 5.5rem;
  position: relative;
  top: 2.25rem;
}

.back-btn{
  all: unset;
  font-weight: bold;
  color: hsl(231, 11%, 63%);
}
.back-btn:hover{
  cursor: pointer;
  color: hsl(213, 100%, 24%);
}


.next-btn {
  all: unset;
  padding: 1rem 1.5rem;
  background-color: hsl(213, 96%, 18%);
  color: white;
  border-radius: 8px;
}

.next-btn:hover{
  cursor: pointer;
  background-color: hsl(213, 100%, 24%);
}
.right2-btns-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.5rem;
  position: relative;
  top: 1.1rem;
}


/* Here is all what is related to the validation errors */
.error {
  color: red;
  margin-left: 39%;
}
.tel-error {
  color: red;
  margin-left: 33%;
}

.color {
  border-color: red;
}

/* Here is all what is related to the Subsctiptions */

.subscritption {
  display: flex;
  gap: 1rem;
}

.bottom {
  margin-bottom: -22.5px;
}

.sub-text {
  margin-top: 3rem;
  margin-bottom: 2px;
  font-weight: bold;
}
.prices {
  color: hsl(231, 11%, 63%);
}

.monFree {
  font-weight: 400;
}

.sub-div {
  width: 8.5rem;
  padding: 1rem;
}
.sub-text-div {
  line-height: 1.4;
}

.sub-div:hover {
  border: 1px solid hsl(213, 100%, 24%);
  margin: -1px;
  border-radius: 10px;
  cursor: pointer;
}

.selected {
  border: 1px solid hsl(213, 100%, 24%);
  border-radius: 10px;
  width: 8.5rem;
  padding: 1rem;
  margin: -1px;
  background-color: hsl(231, 100%, 99%);
}

.sub-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: hsl(231, 100%, 99%);
  height: 4rem;
  border-radius: 9px;
}
.moveDown {
  position: relative;
  top: 22.5px;
}

.chosen {
  transition: color 0.4s;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.not-chosen {
  transition: color 0.4s;
  color: hsl(231, 11%, 63%);
  font-weight: bold;
}


/* Here we start with styling the Checkbox in the Right2 file */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Here is everything related to the Right3 File */

.addOns-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1.2rem;
}

.addOns-div:hover{
  border: 1px solid hsl(243, 100%, 62%);
  cursor: pointer;
}

.check-btn{
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid hsl(240, 10%, 88%);
  border-radius: 4px;
}

.check-btn:checked{
  background-color: hsl(243, 100%, 62%);
  
}
.check-btn:checked::before{
  content: "\2713";
  padding-left: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}


.addOns-feature{
  width: 100%;
  display: flex;
  align-items: center;
}

.addsOn-pricing{
  color:hsl(243, 100%, 62%) ;
}

.checked{
  border: 1px solid hsl(243, 100%, 62%);
}

.inner1{
  width: 10%;
}
